@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cardo', serif;
  font-weight: 500;
}