@import "tailwindcss";


:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

.swiper {
  --swiper-navigation-color: #171717; /* Replace #333333 with your desired color */
}

.button {
  background-color: #171717
}